modules = ["web", "python-3.12", "nodejs-20", "mysql"]
entrypoint = "run.py"

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80
exposeLocalhost = true

[deployment]
run = ["flask", "run"]
deploymentTarget = "cloudrun"
