/*-------main-------*/

.pesquisa-responsivo{
    display: none;
}

.search-box{
    height: 40px;
    padding: 20px;
    border-radius: 40px;
    background: #0e0b1c;
    width: 100%;
    border: solid 2px white;
    box-shadow: 0 0 10px #ffffff;
    color: white;
    display: flex;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: white;
    font-size: 16px;
    line-height: 40px;
}

/*-------Card-------*/
.card{
    border-radius: 20px;
    background: #0e0b1c;
    transition: 0.4s ease-in-out;
}

.card-body{
    max-height: 253px;
    min-height: 253px;
    overflow-y: hidden;
    position: relative;
    border: solid 2px #00b7ff;
    border-radius: 20px;
}

.card-body::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px; 
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #0e0b1c);
}

.card:hover{
    box-shadow: 0 0 5px #00b7ff85,
    0 0 35px #00b7ff41,
    0 0 45px #00b7ff2e;
}

.card-title{
    color: #00b7ff;
}

/* ^^ Card ^^ */

/* ^^ Barra de rolagem da pagina ^^ */

@media only screen and (max-device-width: 1199px) {

    .pesquisa{
        display: none;
    }

    .pesquisa-responsivo{
        display: block;
        width: 100%;
    }

    .verbetes {
        flex-direction: column;
        padding: 0 2rem 2rem 2rem;
    }

    .col-3 {
        width: 100%;
    }

    .logo{
        height: 40px;
    }
}
