{% extends 'base.html' %}

{% block edit_term_button %}
    {% if user_is_admin %}
        <a href="" class="btn-nav"><span></span><span></span><span></span><span></span>EDITAR</a>
    {% endif %}
{% endblock %}

{% block navbar_nav_xl %}
    <a href="" class="link-nav">PALAVRAS</a>
    <a href="" class="link-nav">PERFIL</a>
    <a href="" class="link-nav">HOME</a>
    <a href="" class="link-nav">MENU</a>
{% endblock %}

{% block navbar_nav %}
    <li><a class="dropdown-item" href="#">PALAVRAS</a></li>
    <li><a class="dropdown-item" href="#">PERFIL</a></li>
    <li><a class="dropdown-item" href="#">HOME</a></li>
    <li><a class="dropdown-item" href="#">MENU</a></li>
    <li></li>
{% endblock %}


