{% extends 'base.html' %}

{% block sidebar %}
    <header>
        <div class="image-text">
            <span class="image">
                <img src="{{url_for('static', filename='img/LOGO.png')}}" alt="">
            </span>
        </div>
    </header>
    <!-- <a href="" class="link-nav">VERBETES</a>
    <a href="" class="link-nav">PERFIL</a>
    <a href="" class="link-nav">HOME</a>
    <a href="" class="link-nav">MENU</a> -->
{% endblock %}

{% block navbar_nav %}
    <li><a class="dropdown-item" href="#">VERBETES</a></li>
    <li><a class="dropdown-item" href="#">PERFIL</a></li>
    <li><a class="dropdown-item" href="#">HOME</a></li>
    <li><a class="dropdown-item" href="#">MENU</a></li>
    <li></li>
{% endblock %}


