{% extends 'base-with-navbar-nav.html' %}

{% block title %}Matematês // Criar termo{% endblock %}
{% block style %}style-create{% endblock %}

{% block content %}
    <main class="mt-5">
        <div class="mb-5 container">
            {% include 'flash_messages.html' %}
        </div>
        <form enctype="multipart/form-data" method="post">
            {{ form.hidden_tag() }}
            <section class="palavra-escolhida container col-8 d-flex flex-column">
                <section class="palavra animacao-azul rounded">
                    <div class="position-absolute">
                        <div class="classe-genero d-flex gap-2">
                            <div class="select-classe select">
                                {{ form.grammatical_category(id="select-classe") }}
                            </div>
                            <div class="select-genero select d-block" id="genero">
                                {{ form.gender() }}
                            </div>
                        </div>
                        {{ form.content(class="criacao-palavra-escolhida mt-3 p-2", placeholder="Escreva o verbete") }}<br>
                        <span class="aviso-criacao-palavra-escolhida">Digite um ponto final (.) para separar as
                        sílabas</span>
                    </div>
                </section>

                <section class="informacoes mt-5 mb-5">
                    <div class="sig d-flex" id="significado">
                        <div class="has-n-field-groups d-flex z-2 align-items-center w-100 flex-column p-5">
                            <div class="field-groups d-flex flex-column gap-5 w-100">
                                <div class="field-group definition d-flex gap-3"
                                     id="definicao-1">
                                    <button type="button" class="btn btn-remove-field-group btn-dark" disabled>
                                        <img src="{{ url_for('static', filename='img/trash.svg') }}" alt="">
                                    </button>
                                    <div class="select-area select d-flex align-self-stretch">
                                        {{ form.definition_knowledge_area_1() }}
                                    </div>
                                    {{ form.definition_content_1(class="criacao-definicao p-2 w-100", placeholder="Escreva uma definição") }}
                                </div>
                            </div>

                            <button type="button" class="btn-add-field-group btn btn-outline-light mt-5 px-4">
                                Adicionar outra definição
                            </button>
                        </div>
                    </div>

                    <div class="d-none lh-lg position-relative m-5 gap-2 flex-column align-items-center has-n-field-groups z-2"
                         id="exemplo">
                        <div class="field-groups d-flex align-items-center flex-column gap-5 w-100">
                            <div class="field-group d-flex align-items-center gap-3 w-75">
                                <button type="button" class="btn btn-remove-field-group btn-dark" disabled>
                                    <img src="{{ url_for('static', filename='img/trash.svg') }}" alt="">
                                </button>

                                <div class="w-100 d-flex flex-column gap-3">
                                    {{ form.question_statement_1(class="criacao-pergunta", placeholder="Insira o enunciado") }}
                                    {{ form.question_answer_1(class="criacao-resposta", placeholder="Insira a resposta") }}
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn-add-field-group btn btn-outline-light mt-5 px-4">
                            Adicionar outra questão
                        </button>
                    </div>

                    <div class="representacao d-none flex-column m-5 align-items-center" id="representa">
                        <label style="cursor: pointer" for="get-file"
                               class="criacao-imagem z-2 fs-6 mb-3 cursor-pointer"><img
                                src="../static/img/selecionar-imagem.png" alt=""></label>
                        {{ form.image(class="d-none", id="get-file") }}
                        {{ form.image_caption(class="criacao-legenda z-2 w-75", placeholder="Crie uma legenda para a imagem") }}
                    </div>

                </section>

                <button class="btn btn-outline-light px-4 mb-5" type="submit">Enviar</button>

                <div class="btn-box d-flex justify-content-between">
                    <button type="button" class="btn-exemplo-definicao add-definicao border-0 selecionado"
                            style="--clr:#1e9bff" id="btn-sig"
                            onclick="mostrarDefinicao(this)"><span>DEFINIÇÃO</span><i></i></button>
                    <button type="button" class="btn-exemplo-definicao add-exemplos border-0" style="--clr:#1e9bff"
                            id="btn-ex" onclick="mostrarExemplos(this)"><span>
                        EXEMPLOS</span><i></i></button>
                    <button type="button" class="btn-exemplo-definicao add-img border-0" style="--clr:#1e9bff"
                            id="btn-recomenda" onclick="mostrarRepresentacao(this)"><span>ILUSTRAÇÃO</span><i></i>
                    </button>
                </div>
            </section>
        </form>
    </main>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/manage-field-groups-adding.js') }}"></script>
    <script src="{{ url_for('static', filename='js/change-disabled-property-of-empty-valued-selects.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fetch-create-term-form.js') }}"></script>
{% endblock %}