{% extends 'base-with-navbar-nav.html' %}

{% block title %}Matematês // Criar termo{% endblock %}
{% block style %}style-dashboard{% endblock %}

{% block content %}
<main class="container">
    <section class="mt-5">
        <div class="search-box justify-content-between align-items-center">
            <input type="text" class="search-txt w-100" placeholder="Pesquise um termo aqui!">
            <i class="bi bi-search" alt="lupa"></i>
        </div>
        <div class="mt-2">
            <ul class="search-lyrics d-flex justify-content-between px-4">
                <li>A</li>
                <li>B</li>
                <li>C</li>
                <li>D</li>
                <li>E</li>
                <li>F</li>
                <li>G</li>
                <li>H</li>
                <li>I</li>
                <li>J</li>
                <li>K</li>
                <li>L</li>
                <li>M</li>
                <li>N</li>
                <li>O</li>
                <li>P</li>
                <li>Q</li>
                <li>R</li>
                <li>S</li>
                <li>T</li>
                <li>U</li>
                <li>V</li>
                <li>W</li>
                <li>X</li>
                <li>Y</li>
                <li>Z</li>
            </ul>
        </div>
    </section>
    <section class="d-flex justify-content-between mt-5">
        <!---->
        <div class="col-8">
            <h4 class="topic-title p-3 fw-bold">Trigonometria</h4>
            <div class="verbetes-box d-flex gap-5 p-4">
                <!-------------------------------->
                <a href="" class="link-verbete verbete p-3">
                    <h2 class="d-flex justify-content-center">Be.ta</h2>
                    <div class="significado-recomendacao">
                        <p>Trata-se do homem beta, um termo emprestado da biologia, que significa o oposto
                            do macho alfa.</p>
                    </div>
                </a>
                <!---->
                <a href="" class="link-verbete verbete p-3">
                    <h2 class="d-flex justify-content-center">Be.ta</h2>
                    <div class="significado-recomendacao">
                        <p>Trata-se do homem beta, um termo emprestado da biologia, que significa o oposto
                            do macho alfa.</p>
                    </div>
                </a>
                <!---->
                <a href="" class="link-verbete verbete p-3">
                    <h2 class="d-flex justify-content-center">Be.ta</h2>
                    <div class="significado-recomendacao">
                        <p>Trata-se do homem beta, um termo emprestado da biologia, que significa o oposto
                            do macho alfa.</p>
                    </div>
                </a>
                <!---->
                <a href="" class="link-verbete verbete p-3">
                    <h2 class="d-flex justify-content-center">Be.ta</h2>
                    <div class="significado-recomendacao">
                        <p>Trata-se do homem beta, um termo emprestado da biologia, que significa o oposto
                            do macho alfa.</p>
                    </div>
                </a>
                <!---->
                <a href="" class="link-verbete verbete p-3">
                    <h2 class="d-flex justify-content-center">Be.ta</h2>
                    <div class="significado-recomendacao">
                        <p>Trata-se do homem beta, um termo emprestado da biologia, que significa o oposto
                            do macho alfa.</p>
                    </div>
                </a>
                <!---->
                <a href="" class="link-verbete verbete p-3">
                    <h2 class="d-flex justify-content-center">Be.ta</h2>
                    <div class="significado-recomendacao">
                        <p>Trata-se do homem beta, um termo emprestado da biologia, que significa o oposto
                            do macho alfa.</p>
                    </div>
                </a>
                <!---->
                <a href="" class="link-verbete verbete p-3">
                    <h2 class="d-flex justify-content-center">Be.ta</h2>
                    <div class="significado-recomendacao">
                        <p>Trata-se do homem beta, um termo emprestado da biologia, que significa o oposto
                            do macho alfa.</p>
                    </div>
                </a>
                <!---->
                <a href="" class="link-verbete verbete p-3">
                    <h2 class="d-flex justify-content-center">Be.ta</h2>
                    <div class="significado-recomendacao">
                        <p>Trata-se do homem beta, um termo emprestado da biologia, que significa o oposto
                            do macho alfa.</p>
                    </div>
                </a>
                <!-------------------------------->
            </div>
        </div>
        <!---->

        <div class="col-3 d-flex">
            <a href="" class="link-termo-do-dia align-self-end">
                <div class="termo-do-dia">
                    <span></span><span></span><span></span><span></span>
                    <h4 class="d-flex justify-content-center p-3 rounded-top fw-bold">TERMO DO DIA</h4>
                    <div class="elementos">
                        <h2 class="d-flex justify-content-center">Be.ta</h2>
                        <div class="significado-recomendacao">
                            <p>Trata-se do homem beta, um termo emprestado da biologia, que significa o oposto
                                do macho alfa, o líder de um grupo de animais.</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </section>


    <!--COPIAR ISSO PARA CRIAR AS OUTRAS CATEGORIAS -->
    <section>
        <div class="mt-5">
            <h4 class="topic-title p-3 fw-bold">Trigonometria</h4>
            <div class="verbetes-box  d-flex gap-5 p-4">
                <!-------------------------------->
                <a href="" class="link-verbete verbete p-3">
                    <h2 class="d-flex justify-content-center">Be.ta</h2>
                    <div class="significado-recomendacao">
                        <p>Trata-se do homem beta, um termo emprestado da biologia, que significa o oposto
                            do macho alfa.</p>
                    </div>
                </a>
                <!---->
                <a href="" class="link-verbete verbete p-3">
                    <h2 class="d-flex justify-content-center">Be.ta</h2>
                    <div class="significado-recomendacao">
                        <p>Trata-se do homem beta, um termo emprestado da biologia, que significa o oposto
                            do macho alfa.</p>
                    </div>
                </a>
                <!---->
                <a href="" class="link-verbete verbete p-3">
                    <h2 class="d-flex justify-content-center">Be.ta</h2>
                    <div class="significado-recomendacao">
                        <p>Trata-se do homem beta, um termo emprestado da biologia, que significa o oposto
                            do macho alfa.</p>
                    </div>
                </a>
                <!---->
                <a href="" class="link-verbete verbete p-3">
                    <h2 class="d-flex justify-content-center">Be.ta</h2>
                    <div class="significado-recomendacao">
                        <p>Trata-se do homem beta, um termo emprestado da biologia, que significa o oposto
                            do macho alfa.</p>
                    </div>
                </a>
                <!---->
                <a href="" class="link-verbete verbete p-3">
                    <h2 class="d-flex justify-content-center">Be.ta</h2>
                    <div class="significado-recomendacao">
                        <p>Trata-se do homem beta, um termo emprestado da biologia, que significa o oposto
                            do macho alfa.</p>
                    </div>
                </a>
                <!---->
                <a href="" class="link-verbete verbete p-3">
                    <h2 class="d-flex justify-content-center">Be.ta</h2>
                    <div class="significado-recomendacao">
                        <p>Trata-se do homem beta, um termo emprestado da biologia, que significa o oposto
                            do macho alfa.</p>
                    </div>
                </a>
                <!---->
                <a href="" class="link-verbete verbete p-3">
                    <h2 class="d-flex justify-content-center">Be.ta</h2>
                    <div class="significado-recomendacao">
                        <p>Trata-se do homem beta, um termo emprestado da biologia, que significa o oposto
                            do macho alfa.</p>
                    </div>
                </a>
                <!---->
                <a href="" class="link-verbete verbete p-3">
                    <h2 class="d-flex justify-content-center">Be.ta</h2>
                    <div class="significado-recomendacao">
                        <p>Trata-se do homem beta, um termo emprestado da biologia, que significa o oposto
                            do macho alfa.</p>
                    </div>
                </a>
                <!-------------------------------->
            </div>
        </div>
    </section>
    <!--COPIAR ISSO PARA CRIAR AS OUTRAS CATEGORIAS -->
    
    
</main>
{% endblock %}