{% set messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    <div class="d-flex flex-column">
        {% for category, message in messages %}
            {% if category not in ['primary', 'secondary', 'success', 'danger', 'warning', 'info', 'light', 'dark'] %}
                {% set category = 'primary' %}
            {% endif %}
            <div role="alert" class="alert alert-{{ category }} alert-dismissible fade show mb-3">
                {{ message }}
                <button type="button" data-bs-dismiss="alert" aria-label="Close" class="btn-close"></button>
            </div>
        {% endfor %}
    </div>
{% endif %}