{% extends 'base-with-navbar-nav.html' %}

{% block content %}
    <section class="d-flex flex-column align-items-center mt-5">
        <div style="max-width: 520px">
            <h1 style="color: #5B2BE2" class="fw-bold mb-3 text-center display-1">Erro {{ error_code }}</h1>
            <p class="mb-4 fw-medium fs-4 text-center">{{ error_description }}</p>
            <p class="fs-5 text-center">Se você inseriu a URL manualmente, verifique a ortografia e tente novamente.</p>
        </div>
    </section>
{% endblock %}