<!DOCTYPE html>
<html lang="pt-Br">

<head>
    <!--PRINCIPAL-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Texto com imagem e exemplo</title>

    <!--BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!--CSS-->
    <link rel="stylesheet" href="../static/css/style.css">

    <!--FONTES-->

</head>

<body>
    <script src="script.js"></script>
    <div class="bolhas">
        <div class="fundo-bolhas">
            <span style="--i:20.946"></span>
            <span style="--i:18.412"></span>
            <span style="--i:9.412"></span>
            <span style="--i:13.412"></span>
            <span style="--i:16.890"></span>
            <span style="--i:7.480"></span>
            <span style="--i:25.203"></span>
            <span style="--i:4.586"></span>
            <span style="--i:20.350"></span>
            <span style="--i:21.842"></span>
            <span style="--i:23.699"></span>
            <span style="--i:27.940"></span>
            <span style="--i:24.638"></span>
            <span style="--i:7.555"></span>
            <span style="--i:29.452"></span>
            <span style="--i:12.68"></span>
            <span style="--i:23.901"></span>
            <span style="--i:21.498"></span>
            <span style="--i:26.387"></span>
            <span style="--i:20.243"></span>
            <span style="--i:18.805"></span>
            <span style="--i:4.243"></span>
            <span style="--i:17.518"></span>
            <span style="--i:25.713"></span>
            <span style="--i:19.538"></span>
            <span style="--i:2.325"></span>
            <span style="--i:27.3653"></span>
            <span style="--i:16.685"></span>
            <span style="--i:22.349"></span>
            <span style="--i:9.696"></span>
            <span style="--i:24.954"></span>
            <span style="--i:7.2645"></span>
            <span style="--i:29.5326"></span>
            <span style="--i:12.952"></span>
            <span style="--i:23.648"></span>
            <span style="--i:21.755"></span>
            <span style="--i:20.917"></span>
            <span style="--i:18.9972"></span>
            <span style="--i:9.014"></span>
            <span style="--i:22.929"></span>
            <span style="--i:24.148"></span>
            <span style="--i:20.376"></span>
            <span style="--i:7.842"></span>
            <span style="--i:13.3852"></span>
            <span style="--i:29.467"></span>
            <span style="--i:13.528"></span>
            <span style="--i:10.395"></span>
            <span style="--i:5.957"></span>
            <span style="--i:7.5375"></span>
            <span style="--i:26.285"></span>
            <span style="--i:3.3184"></span>
            <span style="--i:14.6795"></span>
            <span style="--i:17.382546"></span>
            <span style="--i:8.6795"></span>
            <span style="--i:27.8234"></span>
            <span style="--i:18.6842"></span>
            <span style="--i:9.44715"></span>
            <span style="--i:13.3751"></span>
            <span style="--i:16.4872"></span>
            <span style="--i:7.4871"></span>
            <span style="--i:25.4275"></span>
            <span style="--i:4.37651"></span>
            <span style="--i:20.478268"></span>
            <span style="--i:21.96857"></span>
            <span style="--i:23.792"></span>
            <span style="--i:27.375"></span>
            <span style="--i:24.645"></span>
            <span style="--i:7.876"></span>
            <span style="--i:29.7956"></span>
            <span style="--i:12.6782"></span>
            <span style="--i:23.782"></span>
            <span style="--i:21.948"></span>
            <span style="--i:20.946"></span>
            <span style="--i:18.412"></span>
            <span style="--i:9.412"></span>
            <span style="--i:13.412"></span>
            <span style="--i:16.890"></span>
            <span style="--i:7.480"></span>
            <span style="--i:25.203"></span>
            <span style="--i:4.586"></span>
            <span style="--i:20.350"></span>
            <span style="--i:21.842"></span>
            <span style="--i:23.699"></span>
            <span style="--i:27.940"></span>
            <span style="--i:24.638"></span>
            <span style="--i:7.555"></span>
            <span style="--i:29.452"></span>
            <span style="--i:12.68"></span>
            <span style="--i:23.901"></span>
            <span style="--i:21.498"></span>
            <span style="--i:26.387"></span>
            <span style="--i:20.243"></span>
            <span style="--i:18.805"></span>
            <span style="--i:4.243"></span>
            <span style="--i:17.518"></span>
            <span style="--i:25.713"></span>
            <span style="--i:19.538"></span>
            <span style="--i:2.325"></span>
            <span style="--i:27.3653"></span>
            <span style="--i:16.685"></span>
            <span style="--i:22.349"></span>
            <span style="--i:9.696"></span>
            <span style="--i:24.954"></span>
            <span style="--i:7.2645"></span>
            <span style="--i:29.5326"></span>
            <span style="--i:12.952"></span>
            <span style="--i:23.648"></span>
            <span style="--i:21.755"></span>
            <span style="--i:20.917"></span>
            <span style="--i:18.9972"></span>
            <span style="--i:9.014"></span>
            <span style="--i:22.929"></span>
            <span style="--i:24.148"></span>
            <span style="--i:20.376"></span>
            <span style="--i:7.842"></span>
            <span style="--i:13.3852"></span>
            <span style="--i:29.467"></span>
            <span style="--i:13.528"></span>
            <span style="--i:10.395"></span>
            <span style="--i:5.957"></span>
            <span style="--i:7.5375"></span>
            <span style="--i:26.285"></span>
            <span style="--i:3.3184"></span>
            <span style="--i:14.6795"></span>
            <span style="--i:17.382546"></span>
            <span style="--i:8.6795"></span>
            <span style="--i:27.8234"></span>
            <span style="--i:18.6842"></span>
            <span style="--i:9.44715"></span>
            <span style="--i:13.3751"></span>
            <span style="--i:16.4872"></span>
            <span style="--i:7.4871"></span>
            <span style="--i:25.4275"></span>
            <span style="--i:4.37651"></span>
            <span style="--i:20.478268"></span>
            <span style="--i:21.96857"></span>
            <span style="--i:23.792"></span>
            <span style="--i:27.375"></span>
            <span style="--i:24.645"></span>
            <span style="--i:7.876"></span>
            <span style="--i:29.7956"></span>
            <span style="--i:12.6782"></span>
            <span style="--i:23.782"></span>
            <span style="--i:21.948"></span>
        </div>
        <section>
            <header>
                <div class="container d-flex justify-content-between pt-2 align-items-center">
                    <img src="img/LOGO.png" alt="" class="logo">
                    <nav class="d-flex justify-content-between">
                        <a href="">PALAVRAS</a>
                        <a href="">PERFIL</a>
                        <a href="">HOME</a>
                        <a href="">MENU</a>
                        <div class="dropdown">
                            <i class="bi bi-three-dots dropdown-toggle fs-1" data-bs-toggle="dropdown"
                                aria-expanded="false"></i>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">PALAVRAS</a></li>
                                <li><a class="dropdown-item" href="#">PERFIL</a></li>
                                <li><a class="dropdown-item" href="#">HOME</a></li>
                                <li><a class="dropdown-item" href="#">MENU</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </header>

            <main class="mt-5 container d-flex justify-content-between">
                <section class="pesquisa-responsivo col-3">
                    <div class="search-box d-flex justify-content-between align-items-center">
                        <input type="text" class="search-txt" placeholder="Conheça um novo termo!">
                        <i class="bi bi-search" alt="lupa"></i>
                    </div>
                </section>
                <section class="palavra-escolhida col-8 d-flex flex-column">
                    <section class="palavra animacao-azul rounded">
                        <div class="position-absolute">
                            <p>Substantivo feminino</p>
                            <h1>Al.fa</h1>
                        </div>
                    </section>

                    <section>
                        <div class="significado mt-5 d-flex justify-content-between">
                            <ol class="p-5 lh-lg">
                                <li>Nome da primeira letra do alfabeto grego α, A.</li>
                                <li>Princípio, começo.</li>
                                <li class="area"><span>termoquimica</span><br>Identificação de ângulos na geometria</li>
                            </ol>

                            <!--APAGAR ESSA PARTE CASO NÃO TENHA IMAGEM E EXPLICAÇÃO-->
                            <div class="representacao p-5 d-flex flex-column justify-content-center">
                                <div class="imagem d-flex justify-content-center fs-1">α</div>
                                <div class="exemplo d-flex align-items-center justify-content-center">
                                    <img src="img/alfa.png" alt="">
                                </div>
                            </div>
                            <!------------------------------------------------------->
                        </div>

                    </section>
                </section>

                <section class="recomendacao col-3">
                    <div class="search-box justify-content-between align-items-center">
                        <input type="text" class="search-txt" placeholder="Conheça um novo termo!">
                        <i class="bi bi-search" alt="lupa"></i>
                    </div>
                    <div class="termo-do-dia mt-5">
                        <h4 class="d-flex justify-content-center p-3 rounded-top fw-bold">TERMO DO DIA</h4>
                        <div class="elementos">
                            <h2 class="d-flex justify-content-center">Be.ta</h2>
                            <div class="imagem d-flex justify-content-center fs-1 pb-4">β</div>
                            <div class="significado-recomendacao">
                                <p>Trata-se do homem beta, um termo emprestado da biologia, que significa o oposto do
                                    macho
                                    alfa, o líder de um grupo de animais.</p>
                            </div>
                            <div class="exemplo d-flex align-items-center justify-content-center">

                            </div>
                        </div>
                    </div>
                </section>

            </main>
        </section>
    </div>



</body>

</html>